<section>
<div class="inv-bg_image" style={% if section.settings.image != blank %}"background-image:url('{{section.settings.image | img_url:"master"}}');background-size:cover;background-color:{{section.settings.bg_color}};{% endif %}">
   {% if block.settings.title != blank or block.settings.description != blank %}
  <div class="inv-main-content"> 
    <div class="inv-inner-content">
        {% if block.settings.title != blank %}
        <h2>{{block.settings.title}}</h2>
        {% endif %}
        {% if block.settings.subtitle != blank %}
        <p>{{block.settings.subtitle}}</p>
      {% endif %}
    </div>
  </div>
   {% endif %}
</div>	
</section>
{% schema %}
  {
    "name": "fullbanner",
	"class":"inv-full-banner",
    "settings": [
        {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
        },
		{
            "type":"color",
            "id":"bg_color",
            "label":"Background Color",
			"default":"#CCCCCC"
        },		
		{
			"type":"text",
			"id":"title",
			"label":"Title"
		},
		{
			"type":"textarea",
			"id":"subtitle",
			"label":"Sub Title"
		},
		{
			"type":"text",
			"id":"btn_text",
			"label":"Button Text"
		},
		{
			"type":"url",
			"id":"btn_url",
			"label":"Button Link"
		}
	],
    "presets" : [
      {
      "name" : "Full Banner"
      }	
    ]
  }
{% endschema %}