<section>
  <div class="max-width-container">
    {%if section.settings.main_title != blank %}
    <div class="inv-heading">
      <h2 class="inv-title-main">{{ section.settings.main_title }}</h2>
      <div class="inv-slide-arrow"></div>
    </div>
    {%endif%}
  </div>
</section>
{% schema %}
{
  "name": "Featured Collection",
  "class" : "inno-featured-collection",
  "settings": [
    {
      "type": "text",
      "id": "main_title",
      "label": "Heading"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Select Collection"
    }
  ],
  "presets" : [
    {
      "name": "Featured Collection"
    }
  ]
}
{% endschema %}
