<footer>
  <div class="container">
    <div class="inv--footer-main">
      {% for block in section.blocks %}
      
<!--Newsletter Section -->
      {% if block.type == 'newsletter' %}
      <div class="inv--newsletter">
			
      </div>
      {% endif %}
      
<!--Logo Section -->
      {% if block.type == 'logo' %}
      <div class="inv--logo-section">

      </div>
       {% endif %}
      
<!--Logo And Contact -->
      {% if block.type == 'logo-contact' %}
      <div class="inv--logo-contact">

      </div>
       {% endif %}
      {% endfor %}
    </div>   
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
	"class":"inno-footer",
    "settings": [
        {
          "type": "text",
          "id": "copyright_text",
          "label": "Copyright text"
        },
        {
          "type": "checkbox",
          "id": "display_payment_methods",
          "label": "Show payment method icons",
          "default": true
        }
      ],
  "blocks": [
  {
    "type": "newsletter",
    "name": "Newsletter",
    "settings": [
        {
          "type": "checkbox",
          "id": "newsletter_enable",
          "default": true,
          "label": "Newsletter Enable"
        },
        {
          "type": "text",
          "id": "newsletter_heading",
          "default": "Subscribe to our emails",
          "label": "Newsletter Heading"
        }
    ]
  },
  {
    "type": "logo",
    "name": "Logo",
    "settings": [
        {
          "type": "textarea",
          "id": "svg_logo",
          "label": "Logo SVG(Code)"
        },
        {
          "type": "image_picker",
          "id": "logo_image",
          "label": "Logo Image (Optional)"
        }
    ]
  },
  {
    "type": "logo-contact",
    "name": "Logo And Contact",
    "settings": [
		{
          "type": "textarea",
          "id": "svg_logo",
          "label": "Logo SVG(Code)"
        },
        {
          "type": "image_picker",
          "id": "logo_image",
          "label": "Logo Image (Optional)"
        },
		{
          "type": "textarea",
          "id": "contact_location_icon",
          "label": "Location SVG(Code)"
        },
		{
          "type": "text",
          "id": "location_text",
          "label": "Location"
        },
		{
          "type": "textarea",
          "id": "contact_mail_icon",
          "label": "Mail SVG(Code)"
        },
		{
          "type": "text",
          "id": "mail_text",
          "label": "Mail"
        },
		{
          "type": "textarea",
          "id": "contact_phone_icon",
          "label": "Phone SVG(Code)"
        },
		{
          "type": "text",
          "id": "phone_text",
          "label": "Phone"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": false,
          "label": "Social Icon Enable"
        }
    ]
  },
  {
    "type": "linklist",
    "name": "Linklist",
    "settings": [		
        {
        "type": "link_list",
        "id": "link_list_1",
        "label": "Link List 1"
        }
     ]
   }
]
  }
{% endschema %}

