<section>
  <div class="max-width-container">
    {%if section.settings.main_title != blank %}
    <div class="inv-heading">
      <h2 class="inv-title-main">{{ section.settings.main_title }}</h2>
      <div class="inv-slide-arrow inv-slide-arrow-collection"></div>
    </div>
    {%endif%}
    <div class="inv-featured-collection">
      {% assign collection = collections[section.settings.collection] %}  
      {% for product in collection.products %}
       {% render 'card-product',
              card_product: product,
              media_aspect_ratio: section.settings.image_ratio,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              show_quick_add: section.settings.enable_quick_add,
              section_id: section.id
            %}
      {% endfor %}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Featured Collection",
  "class" : "inno-featured-collection",
  "settings": [
    {
      "type": "text",
      "id": "main_title",
      "label": "Heading"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Select Collection"
    },
	{
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.featured-collection.settings.enable_quick_buy.label"
    }
  ],
  "presets" : [
    {
      "name": "Featured Collection"
    }
  ]
}
{% endschema %}
