p,h1,h2,h3,h4,h5,h6,span{
	margin:0;  	
}
ul{
	margin:0;
  	padding:0;
  	list-style:none;
}
a{
  padding:0;
  text-decoration:none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition:all 0.3s ease 0s;
  transition:all 0.3s ease 0s;
  color:#000;
}
svg{
	height:24px;
  	width:24px;
}
img{
	max-width:100%;
}
.container{
	max-width:1630px;
  	padding:0 15px;
  	margin:0 auto;
}


/* Footer Section */
.inv--newsletter .inv--newsletter-head h4 {
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    margin-left: 30px;
}
.inv--newsletter-main .inv--newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 75px;
  	flex-wrap:wrap;
}
.inv--newsletter-main .inv--newsletter .inv--newsletter-head {
    display: flex;
    align-items: center;
    width: 50%;
}
.inv--newsletter-main .inv--newsletter .inv--newsletter-form {
    width: 50%;
}
.inv--newsletter-main .inv--newsletter .inv--newsletter-form .newsletter-form__button {
  background: #FFE472;
  border-radius: 0 6px 6px 0;
  border: none;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #20488a;
  padding: 0 52px;
  line-height:0;
  margin-left:-1px;
  font-family: 'Poppins';
}
.inv--newsletter-main .inv--newsletter .inv--newsletter-form .newsletter-form__button:hover {
    background: #fff;
    color: #20488a;
}
.inv--newsletter-main .inv--newsletter .inv--newsletter-form label.field__label {
    font-size: 18px;
    line-height: 22px;
    color: #938b84;
    top: calc(2rem + var(--inputs-border-width));
      letter-spacing: 0;
}
input#NewsletterForm--inv--footer {
    border-radius: 6px 0 0 6px;
    max-width: 597px;
    height: 65px;
}
.newsletter-form__field-wrapper .field:after{
	 border-radius: 6px 0 0 6px;
}
.newsletter-form__field-wrapper .field:hover.field:after{
	display:none;
}
.inv--newsletter-main .inv--newsletter .inv--newsletter-form .newsletter-form__field-wrapper #NewsletterForm--inv--footer.field__input:focus~.field__label{
	top:calc(1rem + var(--inputs-border-width));
      font-size:16px;
}
.inv--newsletter-main .inv--newsletter .inv--newsletter-head span.inv--newsletter-icon svg {
    height: 80px;
    width: 81px;
}
/* Logo Section */
.inv--footer-main .inv--logo-image img {
    margin: 0 auto;
}
.inv--footer-main .inv--logo-section .slick-track {
    display: flex;
    align-items: center;
}
.inv--logo-section:not(.slick-initialized.slick-slider){
	display: flex;
    align-items: center;
}
.inv--logo-section .inv--logo-icon {
    width: 20%;
}
div#shopify-section-inv--footer .inv--logo-section {
    padding: 85px 0;
}
.inv--contact-main ul li {
    display: flex;
    align-items: center;
  	margin-bottom:18px;
}
.inv--contact-main ul li:last-child{
	margin-bottom:0;
}
.inv--contact-main ul li span {
    width: 21px;
    height: 20px;
    margin-right: 12px;
}
.inv--logo-footer span {
    display: inline-block;
    line-height: 0;
}
.inv--logo-footer {
    line-height: 0;
    margin-bottom: 35px;
}
.inv--logo-contact .inv--logo-footer a {
    line-height: 0;
    display: inline-block;
}
ul.inv--contact li a, ul.inv--contact li h4 {
    color: #777777;
}
ul.inv--contact li a:hover{
	color:#000000;
}
.inv--social ul li a {
    line-height: 0;
    border: 1px solid #20488A;
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.inv--logo-contact .inv--logo-footer a svg {
    width: 100%;
    height: 100%;
}
.inv--social ul li a svg{
	height:18px;
  	width:18px;
}
li.list-social__item a:hover{
    background: #20488A;
}
li.list-social__item a:hover svg path{
	fill:#ffffff;
}
.inv--social ul.footer__list-social {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.inv--social ul.footer__list-social li{
	margin-right:15px;
}
.inv--social ul.footer__list-social li:last-child{
	margin-right:0;
}
.inv--conatct-linklist-inner {
    border-top: 1px solid rgb(177 177 177 / 30%);
    padding: 70px 0;
}
.inv--linklist-col .inv--linklist h4 {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #0C0704;
    line-height: 1.5;
    margin-bottom: 10px;
}
ul.inv--linklist-main li {
    line-height: 2.2;
}
.inv--linklist-col .inv--linklist ul.inv--linklist-main li a {
    font-size: 14px;
    line-height: 2;
    text-transform: capitalize;
    color: #777777;
}
.inv--linklist-col .inv--linklist ul.inv--linklist-main li a:hover{
	color:#000000;
}
.inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner {
    display: flex;
    flex-wrap: wrap;
}
.inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner .inv--logo-contact {
    max-width: 27.50%;
    width: 100%;
}
.inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner .inv--linklist-col {
    display: flex;
    flex-wrap: wrap;
    width: 72.5%;
}
.inv--linklist.inv--linklist--one ul.inv--linklist-main {
    column-count: 2;
}
.inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner .inv--linklist-col .inv--linklist {
    max-width:21.66%;
    width: 100%;
}
.inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner .inv--linklist-col .inv--linklist.inv--linklist--one {
    max-width: 35%;
}
.inv--footer-copy-payment {
    display: flex;
    align-items: center;
}
.inv--footer-copy-payment a {
    color: #20488a;
}
.inv--footer-copy {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.inv--footer-copy-payment p {
    font-size: 18px;
    color: #777777;
    letter-spacing: 0;
}
.inv--footer-copy-payment p a:hover {
    color: #000;
}
.inv--footer-bottom .inv--footer-copy {
    border-top: 1px solid rgb(177 177 177 / 30%);
    padding: 20px 0;
}
.inv--footer-bottom .inv--footer-copy svg.payment-icon {
    width: 48px;
    height: 32px;
    margin-right: 5px;
}
.inv--footer-bottom .inv--footer-copy svg.payment-icon:last-child{
	margin-right:0;
}
.inv--footer-bottom .inv--footer-copy .payment_methods {
    line-height: 0;
}
.inv--logo-section .inv--logo-icon .inv--logo-image {
    padding: 0 15px;
}
.inv--contact-main ul li span {
    width: 21px;
    height: 20px;
    margin-right: 8px;
}
.inv--contact-main ul li span svg{
	width:21px;
  	height:20px;
}
div#shopify-section-inv--footer .inv--logo-section .slick-arrow {
    display: none !important;
}

@media(min-width:768px){
	.inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner .inv--linklist-col .inv--linklist svg{
    	display:none;
    }
}
@media(min-width:1200px) and (max-width:1440px){
  .inv--newsletter .inv--newsletter-head h4 {
    font-size: 35px;
  }
  .inv--newsletter-main .inv--newsletter .inv--newsletter-head span.inv--newsletter-icon svg {
    height: 60px;
    width: 61px;
  }
  div#shopify-section-inv--footer .inv--logo-section {
    padding: 65px 0;
  }
  .inv--footer-copy-payment p {
    font-size: 16px;
  }
  .inv--newsletter-main .inv--newsletter {
    padding: 35px 25px;
  }
  .inv--social ul.footer__list-social {
    margin-top: 40px;
  }
  .inv--social ul li a{
    height: 36px;
    width: 36px;
  }
  .inv--social ul li a svg {
    height: 15px;
    width: 15px;
  }
  .inv--conatct-linklist-inner{
  	padding:60px 0;
  }
  .inv--linklist-col .inv--linklist h4{
  	font-size:14px;
  }
}
@media(min-width:992px) and (max-width:1199px){
  .inv--newsletter .inv--newsletter-head h4 {
    font-size: 28px;
    margin-left: 20px;
  }
  span.inv--newsletter-icon {
    line-height: 0;
  }
  .inv--newsletter-main .inv--newsletter .inv--newsletter-head span.inv--newsletter-icon svg {
    height: 50px;
    width: 50px;
  }
  div#shopify-section-inv--footer .inv--logo-section {
    padding:45px 0;
  }
  .inv--footer-copy-payment p {
    font-size: 16px;
  }
  .inv--newsletter-main .inv--newsletter {
    padding:25px 10px;
  }
  .inv--social ul.footer__list-social {
    margin-top: 40px;
  }
  .inv--social ul li a{
    height: 30px;
    width: 30px;
  }
  .inv--social ul li a svg {
    height: 13px;
    width: 13px;
  }
  .inv--conatct-linklist-inner{
    padding:60px 0;
  }
  .inv--linklist-col .inv--linklist h4{
    font-size:14px;
  }
  .inv--social ul.footer__list-social li {
    margin-right: 8px;
  }
  .inv--contact-main ul li {
    margin-bottom: 13px;
  }
  .inv--newsletter-main .inv--newsletter .inv--newsletter-form .newsletter-form__button {
    font-size: 16px;
    padding: 0 30px;
  }
  .inv--newsletter-main .inv--newsletter .inv--newsletter-form .newsletter-form__field-wrapper #NewsletterForm--inv--footer.field__input:focus~.field__label {
    font-size: 14px;
  }
  .inv--newsletter-main .inv--newsletter .inv--newsletter-form label.field__label {
    font-size: 16px;
    top: calc(2.3rem + var(--inputs-border-width));
  }
  .inv--logo-section .inv--logo-icon .inv--logo-image {
    padding: 0 25px;
}
  .inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner .inv--linklist-col .inv--linklist.inv--linklist--one {
    max-width: 50%;
}
  .inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner .inv--linklist-col .inv--linklist {
    max-width: 50%;
    margin-bottom:30px;
}
  .inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner .inv--linklist-col {
    width: 66.66%;
}
  .inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner .inv--logo-contact {
    max-width: 33.33%;
}
  .inv--footer-bottom .inv--footer-copy {
    padding: 16px 0;
}
}
@media(min-width:768px) and (max-width:991px){
	  .inv--newsletter .inv--newsletter-head h4 {
    font-size: 28px;
    margin-left: 20px;
  }
  span.inv--newsletter-icon {
    line-height: 0;
  }
  .inv--newsletter-main .inv--newsletter .inv--newsletter-head span.inv--newsletter-icon svg {
    height: 50px;
    width: 50px;
  }
  div#shopify-section-inv--footer .inv--logo-section {
    padding:35px 0;
  }
  .inv--footer-copy-payment p {
    font-size: 14px;
  }
  .inv--newsletter-main .inv--newsletter {
    padding:25px 10px;
  }
  .inv--social ul.footer__list-social {
    margin-top: 20px;
  }
  .inv--social ul li a{
    height: 30px;
    width: 30px;
  }
  .inv--social ul li a svg {
    height: 13px;
    width: 13px;
  }
  .inv--conatct-linklist-inner{
    padding:30px 0;
  }
  .inv--linklist-col .inv--linklist h4{
    font-size:14px;
  }
  .inv--social ul.footer__list-social li {
    margin-right: 8px;
  }
  .inv--contact-main ul li {
    margin-bottom: 13px;
    justify-content: center;
  }
  .inv--social ul.footer__list-social {
    justify-content: center;
  }
  .inv--logo-footer {
    margin-bottom: 20px;
}
  .inv--newsletter-main .inv--newsletter .inv--newsletter-form .newsletter-form__button {
    font-size: 16px;
    padding: 0 30px;
  }
  .inv--newsletter-main .inv--newsletter .inv--newsletter-form .newsletter-form__field-wrapper #NewsletterForm--inv--footer.field__input:focus~.field__label {
    font-size: 14px;
  }
  .inv--newsletter-main .inv--newsletter .inv--newsletter-form label.field__label {
    font-size: 16px;
    top: calc(2.3rem + var(--inputs-border-width));
  }
  .inv--logo-section .inv--logo-icon .inv--logo-image {
    padding: 0 25px;
}
  .inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner .inv--linklist-col .inv--linklist.inv--linklist--one {
    max-width:25%;
}
  .inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner .inv--linklist-col .inv--linklist {
    max-width:25%;
    margin-bottom:0;
    padding:0 15px;
}
  .inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner .inv--linklist-col {
    width: 100%;
}
  .inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner .inv--logo-contact {
    max-width:100%;
    padding-right:0;
    margin-bottom:50px;
    text-align:center;
}
  .inv--footer-bottom .inv--footer-copy {
    padding: 12px 0;
    justify-content: center;
}
  .inv--footer-copy-payment {
    margin-bottom: 10px;
}
  .inv--newsletter-main .inv--newsletter .inv--newsletter-head,
  .inv--newsletter-main .inv--newsletter .inv--newsletter-form{
  	width:100%;
  }
  .inv--newsletter-main .inv--newsletter .inv--newsletter-head{
  	margin-bottom:20px;
    justify-content:center;
  }
  .inv--linklist.inv--linklist--one ul.inv--linklist-main {
    column-count: 1;
}
}
@media(max-width:767px){
	.inv--newsletter-main .inv--newsletter {
    padding: 25px 10px;
}
  .inv--newsletter-main .inv--newsletter .inv--newsletter-head, .inv--newsletter-main .inv--newsletter .inv--newsletter-form {
    width: 100%;
}
  .inv--newsletter-main .inv--newsletter .inv--newsletter-head {
    margin-bottom: 20px;
    justify-content: center;
}
  span.inv--newsletter-icon {
    line-height: 0;
}
  .inv--newsletter-main .inv--newsletter .inv--newsletter-head span.inv--newsletter-icon svg {
    height: 50px;
    width: 50px;
}
  .inv--newsletter .inv--newsletter-head h4 {
    font-size: 28px;
    margin-left: 20px;
}
  div#shopify-section-inv--footer .inv--logo-section {
    padding: 35px 0;
}
  .inv--conatct-linklist-inner {
    padding: 30px 0;
}
.inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner .inv--logo-contact {
    max-width: 100%;
    padding-right: 0;
    margin-bottom: 50px;
    text-align: center;
}
  .inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner .inv--linklist-col .inv--linklist,
  .inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner .inv--linklist-col .inv--linklist.inv--linklist--one{
    max-width: 100%;
    margin-bottom: 0;
    padding: 0;
}
  .inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner .inv--linklist-col{
  	width:100%;
  }
  .inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner .inv--logo-contact {
    max-width: 100%;
    padding-right: 0;
    margin-bottom: 50px;
    text-align: center;
}
  .inv--social ul li a svg {
    height: 13px;
    width: 13px;
}
  .inv--social ul li a {
    height: 30px;
    width: 30px;
}
  .inv--social ul.footer__list-social li {
    margin-right: 8px;
}
  .inv--social ul.footer__list-social {
    margin-top: 20px;
}
  .inv--contact-main ul li {
    margin-bottom: 13px;
    justify-content: center;
}
.inv--social ul.footer__list-social {
    justify-content: center;
}
  .inv--footer-bottom .inv--footer-copy {
    padding: 12px 0;
    justify-content: center;
}
  .inv--footer-copy-payment {
    margin-bottom: 10px;
}
  .inv--footer-copy-payment p {
    font-size: 14px;
    width: 100%;
    text-align: center;
}
  .inv--logo-footer {
    margin-bottom: 20px;
}
.inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner .inv--linklist-col .inv--linklist h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 10px;
    font-size: 14px;
}
.inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner .inv--linklist-col .inv--linklist svg {
    height: 12px;
    width: 12px;
}
.inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner .inv--linklist-col .inv--linklist svg path{
	    stroke: #000000;
}
.inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner .inv--linklist-col .inv--linklist h4.active svg {
    transform: rotate(180deg);
}
.inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner .inv--linklist-col .inv--linklist ul.inv--linklist-main {
    padding: 0 10px 10px 10px;
  display:none;
}
  .inv--footer-copy-payment{
  	    flex-wrap: wrap;
  }
.inv--footer-copy-payment p {
    width: 100%;
    text-align: center;
}
  .inv--footer-bottom .inv--footer-copy svg.payment-icon {
    width: 40px;
    height: 24px;
    margin-right: 0;
}
}
@media(max-width:575px){
	.inv--footer-main .inv--conatct-linklist .inv--conatct-linklist-inner .inv--logo-contact {
    margin-bottom: 30px;
}
  .inv--newsletter-main .inv--newsletter .inv--newsletter-head span.inv--newsletter-icon svg {
    height: 35px;
    width: 35px;
}
  .inv--newsletter .inv--newsletter-head h4 {
    font-size: 20px;
    margin-left: 12px;
}
  .inv--newsletter-main .inv--newsletter .inv--newsletter-form .newsletter-form__button {
    font-size: 14px;
    padding: 0 20px;
}
  .inv--newsletter-main .inv--newsletter .inv--newsletter-form .newsletter-form__field-wrapper #NewsletterForm--inv--footer.field__input:focus~.field__label {
    font-size: 14px;
}
  .inv--newsletter-main .inv--newsletter .inv--newsletter-form label.field__label {
    font-size: 16px;
}
}