p,h1,h2,h3,h4,h5,h6,span{
	margin:0;  	
}
ul{
	margin:0;
  	padding:0;
  	list-style:none;
}
a{
  padding:0;
  text-decoration:none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition:all 0.3s ease 0s;
  transition:all 0.3s ease 0s;
  color:#000;
}


.container{
	max-width:1630px;
  	padding:0 15px;
  	margin:0 auto;
}


/* Footer Section */
.inv--newsletter .inv--newsletter-head h4 {
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    margin-left: 30px;
}
.inv--newsletter-main .inv--newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inv--newsletter-main .inv--newsletter .inv--newsletter-head {
    display: flex;
    align-items: center;
    width: 50%;
}
.inv--newsletter-main .inv--newsletter .inv--newsletter-form {
    width: 50%;
}
.newsletter-form__button {
    background: #FFE472;
    border-radius: 0px 6px 6px 0px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #20488A;
}